- form_tag do
  %fieldset
    %legend User

    %div
      %label
        %span User
        %input{:name => 'user', :value => params[:user]}

  %fieldset
    %legend Group Access

    %ul.cleanlist
      - @groups.each do |g|
        %li
          %label
            = check_box :group, g.id, :checked => (@user_gids.include?(g.id) ? 'checked' : '')
            = g.name

  %div= submit_tag 'Set Groups'
