body {
	font-family: Arial, sans-serif;
}

#accountlist {
	list-style: none;
	padding-left: 0;
}

#accountlist ul {
	list-style: none;
	padding-left: 2em;
	font-size: smaller;
}

.cleanlist {
	list-style: none;
	padding-left: 0;
}

a img {
  border: none;
}

table {
	border-width: 2px;
	border-style: outset;
}

tr,th,td {
	border-width: 1px;
	border-style: inset;
}

#footer {
	padding-top: 0.5em;
	border-top: solid 1px;
	font-size: small;
}

#footer .inline, .inline.dense {
  margin: 0;
}

ul.inline {
  padding: 0;
}

ul.inline li {
  display: inline;
}

ul.inline li + li:before {
  content: " | ";
}

ul.inline li.label + li:before {
  content: "";
}

.moneycolumn {
	text-align: right;
}

.positive {
	color: green;
	background: inherit;
}

.negative {
	color: red;
	background: inherit;
}

.deleted * {
	text-decoration: line-through;
}

.inactive a {
	background: inherit;
	color: #bbf;
}

.inactive :after {
	content: " (inactive)";
}

tr.even {
	background: #ddf;
	color: black;
}

label span {
	float: left;
	width: 100px;
}

.defaultfield {
	background: inherit;
	color: #777;
}

.info {
  background: #fe0;
	color: inherit;
  padding: 2px;
}

.error {
  background: #fe0;
	color: red;
	font-weight: bold;
  padding: 2px;
}

.txnsummary {
  font-size: small;
  background: inherit;
  color: gray;
}

.chart {
    float: right;
}