<% @flow.each do |g, flow| %>
	<h2>Flow for <%= g.name %></h2>

	<table>
		<thead><tr><th><%= @type %></th><th>Flow</th></tr></thead>
		<tbody>
			<% flow.each do |f| %>
				<tr>
					<td>
						<%= link_to f[0], :action => :month_cat, :date => f[0] %>
					</td>
					<td><%= currency_span(f[1].to_f) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
