- @flow.each do |g, flow|
  %h2
    Flow for
    = g.name

  %table
    %thead
      %tr
        %th= @type
        %th Flow

    %tbody
      - flow.each do |f|
        %tr
          %td= link_to f[0], :action => :month_cat, :date => f[0]
          %td= currency_span(f[1].to_f)
