%ul.links
  - if @type != :unreconciled
    %li= link_to 'Show Unreconciled', acct_txn_index_path(@current_acct, :which => 'unreconciled')

  - if @type != :normal
    %li= link_to 'Show All', acct_txn_index_path(@current_acct, :which => 'all')

  %li= link_to 'Withdraw/Deposit', new_acct_txn_path(@current_acct)
  %li= link_to 'Transfer', new_acct_transfer_path(@current_acct)