<h1>Change your Password</h1>

<form method="post" action="/account/change_password">
	<p>
		<label>Current Password:  <input type="password" name="current_password"/></label>
	</p>
	<p>
		<label>New Password:  <input type="password" name="password"/></label>
	</p>
	<p>
		<label>Confirm:  <input type="password" name="password_confirmation"/></label>
	</p>
	<p>
		<input type="submit" value="Change Password">
	</p>
</form>