<h1>Change your Password</h1>

<% form_tag do %>
	<p>
		<label><span>Current Password:</span>  <input type="password" name="current_password"/></label>
	</p>
	<p>
		<label><span>New Password:</span>  <input type="password" name="password"/></label>
	</p>
	<p>
		<label><span>Confirm:</span>  <input type="password" name="password_confirmation"/></label>
	</p>
	<p>
		<input type="submit" value="Change Password">
	</p>
<% end %>