<% form_tag do -%>
<p>
	<label><span>Login</span>
		<%= text_field_tag 'login' %>
	</label>
</p>

<p>
	<label><span>Password</span>
		<%= password_field_tag 'password' %>
	</label>
</p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
