<h1>Accounts for <%= current_user.name %></h1>

<% cache(:action_suffix => current_user.login) do %>
<ul id="accountlist">
<% @groups.sort{|a,b| a.name <=> b.name}.each do |g| %>
<li><%= g.name %>
	<ul>
		<% g.accounts.sort{|a,b| a.name <=> b.name}.each do |a| %>
			<li class="<%= a.active ? 'active' : 'inactive' %>">
				<%= link_to a.name, :controller => 'txn', :action => 'new', :id => a.id %></a>
			</li>
		<% end %>
	</ul>
</li>
<% end %>
</ul>
<% end %>
