<h1>Accounts for <%= current_user.name %></h1>

<% cache do %>
<ul id="accountlist">
<% @groups.each do |g| %>
<li><%= g.name %>
	<ul>
		<% g.accounts.each do |a| %>
			<li><%= link_to a.name, :controller => 'txn', :action => 'new', :id => a.id %></a></li>
		<% end %>
	</ul>
</li>
<% end %>
</ul>
<% end %>
